<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Города воинской славы</title>
</head>
<body BGCOLOR="#271600" style="color:#f3f3f2">
    <button type="button" onclick="location.href='mainPage'">Главная</button>
    <button type="button" onclick="location.href='gorodaGeroiPage'">Города-герои</button>
    <button type="button" onclick="location.href='gorodaSlaviPage'">Города воинской славы</button>
    <button type="button" onclick="location.href='gorodaDoblestiPage'">Города трудовой доблести</button>
    <button type="button" onclick="location.href='memoryPage'" style="float: right">Вечная память</button>
    <h1>Города воинской славы</h1>

</body>
</html>